<template name="App_header">
    <header>
        <nav>
            <a class="site-logo transition-link" href="/">
                <span class="logo-text">QA</span>
            </a>

            <ul class="nav-right">
                <li class="list-item">
                    <a href="/">Home</a>
                </li>
                <li class="list-item">
                    <a href="/experiences">Experience</a>
                </li>
                <li class="list-item" id="social-click">
                    <a href="/education">Education</a>
                </li>
                <li class="list-item" id="social-click">
                    <a href="/skills">Skills</a>
                </li>
                <li class="list-item">
                    <a href="/projects">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
</template>